<div class="search-container"></div>
    <input type="text" id="playerSearch" autocomplete="off">
    <ul id="suggestions"></ul>
</div>

<div class="button-row"></div>
  <button class="position-button" data-position="QB">QB</button>
  <button class="position-button" data-position="WR">WR</button>
  <button class="position-button" data-position="RB">RB</button>
  <button class="position-button" data-position="TE">TE</button>
</div>

<div class="player-grid">
    {{#each players}}
    <div class="player-card"
        style="background-color: {{this.backgroundColor}}; color: {{this.color}}; font-weight: {{this.fontWeight}}"
        data-player-id="{{this._id}}">
        <div class="player-image">
            <img style="background-size: contain"
                src="https://www.pro-football-reference.com/req/20230307/images/headshots/{{this.id}}_2024.jpg"
                alt="{{this.name}}">
            {{!-- <img src="https://www.pro-football-reference.com/req/20230307/images/headshots/{{this.id}}_2024.jpg"
                alt="{{this.name}}" onerror="this.src='/img/default-player.jpg'"> --}}
        </div>
        <div class="player-info">
            <h3>{{this.name}}</h3>
            <p>{{this.position}} - {{this.team}}</p>
        </div>
    </div>
    {{/each}}
</div>
<script src="/public/js/ui.js"></script>
<script>
    const allPlayers = {{{ json players }}}; // Use triple braces to avoid HTML escaping
    const ui = new UI(allPlayers);
    ui.addAllEventListeners();
</script>